<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/video.css}" />

    <title>Video Fact</title>
</head>
<nav>
    <ul>
        <li>
            <a th:href="@{/home}">Home</a>
        </li>
        <li>
            <a th:href="@{/fun}">Fun Facts</a>
        </li>
        <li>
            <a th:href="@{/animal}">Animal Facts</a>
        </li>
        <li>
            <a th:href="@{/useless}">Useless Facts</a>
        </li>
        <li>
            <a th:href="@{/video}">Video Facts</a>
        </li>
    </ul>
</nav>
<body>
<iframe width="560" height="315" th:src="${video}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>
</html>